
label[for=id_st].vCheckboxLabel {
	float: right !important;

}

label[for=id_return_field].vCheckboxLabel {
	float: right !important;

}

ul[id=id_transaction_type] {
	float: right !important;

}

p.datetime {
  float: right !important;
}

input[id=id_shop_place].vTextField {
  direction: ltr;
}

input[id=id_store_place].vTextField {
  direction: ltr;
}
